body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  padding: 20px;
}

.container-fluid h1 {
  text-align: center;
  padding: 16px;
  color: #ffcc00;
}

.card {
  background-color: #1f1f1f;
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-bottom: 15px;
}

.card-text {
  color: #bbb;
  margin-bottom: 10px;
}

.card-text strong {
  color: #ffcc00;
}

.card-text a {
  color: #ffcc00;
  text-decoration: none;
}

.card-text a:hover {
  text-decoration: underline;
}

.container-artistas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  padding: 10px;
}
