.colorblanco {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.fondospinner {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.3;
    z-index: 3;
    display: none;
}

#spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 47%;
    z-index: 4;
    display: none;
}

.fondoform-wrapper {
    position: relative;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 10px;
}

.fondoform {
    padding: 15px;
    background-color: #151515;
    border-radius: 10px;
    z-index: 1;
}

.centrado {
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.form-control {
    background-color: #202020 !important;
    color: white !important;
}

body {
    background-image: url('{% static "rsound/imagenes/fondoregistro.jpeg" %}');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
