{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Resultados de búsqueda</title>
{% endblock titulo %}

{% block Contenido %}
<div class="container mt-5">
    <h2>Resultados de búsqueda para "{{ query }}"</h2>
    <div class="row">
        {% if resultados %}
            {% for artista in resultados %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ artista.imagen.url }}" class="card-img-top" alt="{{ artista.nombreArtista }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ artista.nombreArtista }}</h5>
                        <a href="{% url 'artista' artista.idArtista %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron resultados para "{{ query }}"</p>
        {% endif %}
    </div>
</div>
{% endblock Contenido %}