{% extends 'rsound/Plantilla.html' %}
{% load static %}
{% block titulo %}
<title>Rhythm Sound - Noticias</title>
{% endblock titulo %}
{% block css %}
<link href="{% static 'rsound/css/cssListadoEventos.css' %}" rel="stylesheet">
{% endblock css %}

{% block Contenido %}
<div class="container-fluid">
    <h1>Noticias RhythmSound</h1>
    <div class="container-noticias">
        <div class="row">
            {% for noticia in noticias %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <p class="card-text">{{ noticia.fecha }}</p>
                        <div class="boton">
                          <a href="{% url 'noticia' noticia.idNoticia %}">
                            <button type="submit" class="btn btn-primary">Mostrar</button>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock Contenido %}



