{% extends 'rsound/Plantilla.html' %}
{% load static  %}

{% block titulo %}
    <title>Novedades</title>
{% endblock titulo %}  
   
{% block Contenido %}
  <!-- Cards de Noticias -->
  <div class="container mt-4 card-container">
    <div class="card text-bg-dark">
      <img src="{% static 'rsound/imagenes/Adele.webp' %}" class="card-img" alt="Adele">
      <div class="card-img-overlay">
        <h5 class="card-title">Según la agenda, "Adele" estaría en Chile este 14 de Junio</h5>
        <p class="card-text"><a href="#">Leer más...</a></p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card text-bg-dark mt-4">
      <img src="{% static 'rsound/imagenes/Billiepareja.jpg' %}" class="card-img" alt="Billie Pareja">
      <div class="card-img-overlay">
        <h5 class="card-title"> Billie Eilish y Jesse Rutherford. Famosa pareja de artistas anuncia separación!</h5>
        <p class="card-text">Según sus redes dan detalles que... <a href="#">Leer más...</a></p>
        <p class="card-text"><small>Last updated 10 mins ago</small></p>
      </div>
    </div>
    <div class="card text-bg-dark mt-4">
      <img src="{% static 'rsound/imagenes/theneighborhood.jpg' %}" class="card-img" alt="The Neighborhood">
      <div class="card-img-overlay">
        <h5 class="card-title">The neighborhood. Grupo anuncia separación después de años de ausencia</h5>
        <p class="card-text"><a href="#">Leer más...</a></p>
        <p class="card-text"><small>Last updated 15 mins ago</small></p>
      </div>
    </div>
  </div>
{% endblock Contenido %}

