{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Registro - RhythmSound</title>
{% endblock titulo %}

{% block css %}
<link href="{% static 'rsound/css/Style2.css' %}" rel="stylesheet">
{% endblock css %}

{% block Contenido %}
<!-- Funcion spinner carga registro -->
<div class="spinner-border" id="spinner" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="fondospinner" id="fondito"></div>
<div class="container mt-5">
  <!-- FORMULARIO -->
  <h2 class="colorblanco centrado">Formulario de Registro</h2>
  <h5 class="colorblanco centrado">Se parte de nuestra comunidad! :D</h5>
  <div class="fondoform-wrapper">
    <div class="fondoform">
      <form id="registroForm" action="{% url 'registrar_usuario' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label colorblanco">Nombres:</label>
          <input type="text" class="form-control" id="name" name="name" required>
          <span id="name-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label colorblanco">Apellidos:</label>
          <input type="text" class="form-control" id="apellido" name="apellido" required>
          <span id="apellido-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="nickname" class="form-label colorblanco">Nombre de usuario:</label>
          <input type="text" class="form-control" id="nickname" name="nickname" required>
          <span id="nickname-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label colorblanco">Telefono (+56):</label>
          <input type="number" class="form-control" id="telefono" name="telefono" required oninput="limitarInput.call(this, 9)">
          <span id="telefono-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label colorblanco">Correo Electrónico:</label>
          <input type="email" class="form-control" id="email" name="email" required>
          <span id="email-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label colorblanco">Contraseña:</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" required>
            <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('password')">
              <img src="{% static 'rsound/imagenes/eye.png' %}" id="password-icon" style="width:20px;">
            </button>
          </div>
          <span id="password-error" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label colorblanco">Repetir Contraseña:</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password2" name="password2" required>
            <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('password2')">
              <img src="{% static 'rsound/imagenes/eye.png' %}" id="password2-icon" style="width:20px;">
            </button>
          </div>
          <span id="password2-error" class="text-danger"></span>
        </div>
        <button type="button" class="btn btn-primary" id="btnregistro" onclick="registrarUsuario(this)">Registrarse</button>
      </form>
    </div>
  </div>
</div>
{% endblock Contenido %}

{% block js %}
<script src="{% static 'rsound/js/validacionesRegistro.js' %}" defer></script>
<script>
  // Función que alterna la visibilidad de la contraseña
  function togglePasswordVisibility(id) {
    // Obtiene el campo de entrada de contraseña usando su ID
    var passwordField = document.getElementById(id);
    var passwordIcon = document.getElementById(id + '-icon');
    // Verifica si el tipo del campo de contraseña es 'password'
    if (passwordField.type === "password") {
      passwordField.type = "text";
      passwordIcon.src = "{% static 'rsound/imagenes/eye-slash.png' %}";
    } else {
     // Si es 'text', cambia el tipo a 'password' para ocultar la contraseña
      passwordField.type = "password";
      passwordIcon.src = "{% static 'rsound/imagenes/eye.png' %}";
    }
  }
</script>
{% endblock js %}
