{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Aespa</title>
{% endblock titulo %}

{% block Contenido %}
<div class="titulo">
    <h1>AESPA</h1>
</div>

<!-- CAROUSEL -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/aespa1.jpg' %}" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/aespa3.jpg' %}" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/aespa2.jpg' %}" class="d-block w-100" alt="Third Slide">
        </div>
    </div>
</div>

<!-- TEXTO -->
<div class="text-content">
    <p>Aespa ha sido notable por introducir el concepto de metaverso y explorar el género musical hyperpop en el
        K-pop. Gracias a esto, se ha convertido en uno de los grupos femeninos más exitosos de Corea del Sur, con
        reconocimiento tanto a nivel nacional como internacional. Su regreso con el sencillo «Next Level» en
        mayo de 2021 fue un éxito comercial, llegando a la segunda posición en listas como Circle y K-pop Hot 100 en
        Corea. Aespa ha ganado varios premios importantes, incluyendo «Canción del año» en los Korean Music Awards y
        Melon Music Awards. En octubre de 2021, lanzaron su primer miniálbum, Savage, y su sencillo principal del
        mismo nombre. El álbum vendió 787 600 copias, convirtiéndose en el álbum debut más vendido de SM
        Entertainment. «Savage» también fue un gran éxito, llegando al Top 10 en Corea y al Billboard Global 200.
    <br>
    <h2>Álbumes de estudio</h2>
    La discografía del grupo surcoreano Aespa consiste en cuatro EPs y nueve sencillos. Aespa debutó con el sencillo
    «Black Mamba» en 2020. En octubre de 2021 lanzó su primer EP Savage, que encabezó la Gaon Albums Chart de Corea
    del Sur, mientras que en Estados Unidos estuvo en los números 1 y 20 de la Billboard World Albums y Billboard
    200 respectivamente.
    <br>
    2024 Armageddon
    Lanzamiento: 27 de mayo de 2024
    Discográfica: SM, Warner
    Formato: CD, descarga digital, streaming
    <br>
</div>

<!-- VIDEO -->
<div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JIonDfPR4H8?si=MmLYjyLHZpJuXuot"
        title="Aespa Music Video" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock Contenido %}