{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Blur</title>
{% endblock titulo %}

{% block Contenido %}
<div class="titulo">
  <h1>BLUR</h1>
</div>

<!-- CAROUSEL -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/Blur1.jpg' %}" class="d-block w-100" alt="First Slide">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/Blur2.jpg' %}" class="d-block w-100" alt="Second Slide">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/Blur3.jpg' %}" class="d-block w-100" alt="Third Slide">
    </div>
  </div>
</div>

<!-- TEXT CONTENT -->
<div class="text-content">
  <p>Blur es una banda de rock alternativo británica formada en Londres en 1988. Su estilo evolucionó desde el indie
    rock de sus primeros álbumes a un sonido más britpop en los trabajos de mediados de la década de 1990, antes de
    experimentar con géneros variados en proyectos más recientes.
    <br>
    <h2>Álbumes de estudio</h2>
    Leisure (1991)
    <br>
    Modern Life Is Rubbish (1993)
    <br>
    Parklife (1994)
    <br>
    The Great Escape (1995)
    <br>
    Blur (1997)
    <br>
    13 (1999)
    <br>
    Think Tank (2003)
    <br>
    The Magic Whip (2015)
    <br>
    The Ballad of Darren (2023)
  </p>
</div>

<!-- VIDEO -->
<div class="video-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/N7LRu232yzM?si=DjyIE2tAxAnTnRgc"
    title="Blur Video Example" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock Contenido %}