{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Gustavo Cerati</title>
{% endblock titulo %}

{% block Contenido %}
<div class="titulo">
  <h1>Gustavo Cerati</h1>
</div>

<!-- CAROUSEL -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/cerati1.jpg' %}" class="d-block w-100" alt="First Slide">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/cerati2.jpg' %}" class="d-block w-100" alt="Second Slide">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'rsound/imagenes/cerati3.jpg' %}" class="d-block w-100" alt="Third Slide">
    </div>
  </div>
</div>

<!-- TEXTO -->
<div class="text-content">
  <p>Gustavo Adrián Cerati (Buenos Aires, 11 de agosto de 1959-Buenos Aires, 4 de septiembre de 2014), conocido como
    Gustavo Cerati, fue un músico, cantautor y productor discográfico argentino que obtuvo reconocimiento
    internacional por haber sido el líder, vocalista, compositor y guitarrista de la banda de rock Soda Stereo. Parte
    de la prensa especializada y músicos lo consideran como uno de los artistas más influyentes del rock
    latinoamericano.
    <br>
    <h2>Álbumes de estudio</h2>
    1993: Amor amarillo
    <br>
    1999: Bocanada
    <br>
    2002: Siempre es hoy
    <br>
    2006: Ahí vamos
    <br>
    2009: Fuerza natural
    <br>
    <h2>Recopilatorios</h2>
    1992: Colores santos (con Daniel Melero)
    <br>
    2001: +Bien (banda sonora)
    <br>
    2001: 11 episodios sinfónicos (sinfónico)
    <br>
    2003: Reversiones: Siempre es hoy (álbum de remezclas)
  </p>
</div>

<!-- VIDEO -->
<div class="video-wrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-to_PT7kCEE?si=lQg822dDUgXYw8Xf"
    title="Amo dejarte asi" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock Contenido %}