{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Jungkook</title>
{% endblock titulo %}

{% block Contenido %}
<div class="titulo">
    <h1>Jungkook</h1>
</div>

<!-- CAROUSEL -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/jungkook1.jpg' %}" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/jungkook2.jpg' %}" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/jungkook3.jpg' %}" class="d-block w-100" alt="Third Slide">
        </div>
    </div>
</div>

<!-- TEXT CONTENT -->
<div class="text-content">
    <p>Jeon Jung-kook, known as Jungkook, is a South Korean singer who rose to fame as a member and vocalist of the boy group BTS. He has released solo songs within BTS's discography and in 2022 featured in Charlie Puth's single "Left and Right". In 2023, he released his debut solo single "Seven" which topped multiple global charts.
    <br>
    <h2>Albums</h2>
    Golden
    </p>
</div>

<!-- VIDEO -->
<div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VxHkydPsyjY?si=2BZe394QkpqgFU_I"
        title="Jungkook Video" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock Contenido %}