{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>NewJeans</title>
{% endblock titulo %}

{% block Contenido %}
<div class="titulo">
    <h1>NewJeans</h1>
</div>

<!-- CAROUSEL -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/newjeans1.jpg' %}" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/newjeans2.jpg' %}" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'rsound/imagenes/newjeans3.jpg' %}" class="d-block w-100" alt="Third Slide">
        </div>
    </div>
</div>

<!-- TEXTO -->
<div class="text-content">
    <p>NewJeans (en hangul, 뉴진스; romanización revisada del coreano, nyujinseu) es un grupo femenino surcoreano
        formado por ADOR, agencia subsidiaria de HYBE Corporation. El grupo está conformado por cinco miembros:
        Minji, Hanni, Danielle, Haerin y Hyein. NewJeans fue conocida por su imagen de «chica de al lado» y por sus
        canciones de pop y R&B inspiradas en los años 1990 y 2000, con influencias de varios estilos de música dance
        y club.
        <br>
        <h2>Álbumes de estudio</h2>
        2022: New Jeans
        <br>
        2023: Get Up
        <br>
        <h2>Álbumes Sencillos</h2>
        2023: OMG
        <br>
    </p>
</div>

<!-- VIDEO -->
<div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ec0Z1v7jKDQ?si=Vcu1N0OJt-F_7LBW"
        title="NewJeans Video" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endblock Contenido %}