{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Admin - Eventos</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'rsound/css/administracion.css' %}">
{% endblock css %}

{% block Contenido %}
<div class="row container-full">
  <div class="col-md-3 col-sm-12 col-12">
    <div class="navegador">
      <nav class="barranav">
        <ul>
          <a href="{% url 'administracion' %}">
            <li>Inicio Administrador</li>
          </a>
          <a href="{% url 'adminartistas' %}">
            <li>Administrar Artistas</li>
          </a>
          <a href="{% url 'adminusuario' %}">
            <li>Administrar Usuarios</li>
          </a>
          <a href="{% url 'adminevento' %}">
            <li>Administrar Eventos</li>
          </a>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-md-9 col-sm-12 col-12 container2">
    <div class="col-md-12">
      <div class="container-editar">
        <div class="container-datos administracion">
          <h4 id="titulo">Administrar Eventos</h4>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'crear_evento' %}">Crear Evento</a>
              </div>
            </div>
          </div>
          <div class="row botonfiguras">
            <div class="col-md-12">
              <div class="boton">
                <a href="{% url 'listado_evento' %}">Listado Eventos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Contenido %}