{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Eliminar Evento - RhythmSound</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'rsound/css/administracion.css' %}">
{% endblock css %}

{% block Contenido %}
<div class="container mt-5">
    <!-- CONFIRMAR ELIMINACIÓN -->
    <h2 class="colorblanco centrado">Eliminar Evento</h2>
    <div class="fondoform">
        <p class="colorblanco">¿Estás seguro de que deseas eliminar el evento <strong>{{ evento.titulo }}</strong>?</p>
        <form action="{% url 'eliminar_evento' evento.idEvento %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'adminevento' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock Contenido %}