{% extends 'rsound/Plantilla.html' %}
{% load static %}

{% block titulo %}
  <title>Admin - Listado de Usuarios</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'rsound/css/administracion.css' %}">
{% endblock css %}

{% block Contenido %}
<!-- MODIFICAR PERFIL-->
<div class="row fondogeneralosos">
    <!-- NAVEGACION ADMIN-->
    <div class="col-md-3 col-sm-12 col-12">
        <div class="navegador">
            <nav class="barranav">
                <ul>
                    <a href="{% url 'administracion' %}">
                        <li>Inicio Administrador</li>
                    </a>
                    <a href="{% url 'adminartistas' %}">
                        <li>Administrar Artistas</li>
                    </a>
                    <a href="{% url 'adminusuario' %}">
                        <li>Administrar Usuarios</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
    <!-- FIN NAVEGACION ADMIN-->

    <!--ADMINISTRAR-->
    <div class="col-md-9 col-sm-12 col-12 ">
        <!--MODIFICAR DATOS-->
        <div class="col-md-12 administracion">
            <div class="container-editar">
                <div class="container-datos">
                    <h4 id="titulo">Administrar Usuarios</h4>
                    <div class="row botonfiguras">
                        <div class="col-md-12">
                            <div class="boton">
                                <a href="{% url 'crear_usuario' %}">Crear Usuarios</a>
                            </div>
                        </div>
                        <!-- Selector -->
                        <form action="{% url 'adminusuario' %}" method="post">
                            {% csrf_token %}
                            <div>
                                <select class="form-select selectorCategorias" aria-label="Default select example" name="rolFiltrado" required>
                                    <option value="0">Todos los Usuarios</option>
                                    {% for c in roles %}
                                    <option value="{{ c.idRol }}">{{ c.nombreRol }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btnFiltrar btn-primary">Filtrar</button>
                            </div>
                            <div class="lista">
                                <table class="table table-dark table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre de Usuario</th>
                                            <th>Correo</th>
                                            <th>Rol</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for usuario in persona %}
                                        <tr>
                                            <td>{{ usuario.idUsuario }}</td>
                                            <td>{{ usuario.nombreUsuario }}</td>
                                            <td>{{ usuario.correo }}</td>
                                            <td>{{ usuario.rol.nombreRol }}</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-sm">Editar</a>
                                                <a href="#" class="btn btn-danger btn-sm">Borrar</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--FIN CONTAINER EDITAR-->
        </div><!--FIN MODIFICAR DATOS-->
    </div>
    <!-- FIN ADMINISTRAR-->
</div>
<!-- FIN MODIFICAR PERFIL-->
{% endblock Contenido %}
